# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Large model files
*.onnx
*.safetensors
pytorch_model.bin
word2Vec.model

# Videos and archives
*.mp4
*.zip
